body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container2 {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: normal;
    float: left; 
    margin: auto;
    margin-left: 10%;
      
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    align-content: center ;
    display: block; 
    width: 40%;
    padding: 10px;
    margin: -5px 40% 5px;
    border-radius: 5px;
    border: 1px solid #a8a4a472;
    background-color: #a8a4a472;
}


input[type="date"] {
    color: red;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: medium;
    margin-left: 10%;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
